.Login {
  width: 100%;
  height: 100%;
  background-image: url(../imges/2022-10-31_191227.png);
  background-size: cover;
}
.Login .Login-header {
  width: 100%;
  height: 80px;
  background-color: rgba(21, 20, 13, 0.5);
  display: flex;
  align-items: center;
  font-size: 30px;
}
.Login .Login-header img {
  width: 45px;
  height: 45px;
  margin: 0 20px 0 50px;
  border-radius: 100%;
}
.Login .Login-header h1 {
  color: bisque;
  height: 40px;
}
.Login .Login-select {
  width: 400px;
  height: 300px;
  margin: 50px auto;
  background-color: rgba(21, 20, 13, 0.5);
  padding: 20px 40px;
  text-align: center;
}
.Login .Login-select h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
  color: bisque;
}
.Login .Login-select .ant-form-item {
  width: 320px;
  margin-bottom: 30px;
}
.Login .Login-select .ant-form-item .ant-form-item-explain-error {
  color: bisque;
  float: left;
  display: block;
}
.Login .Login-select .ant-form-item .login-form-button {
  width: 100%;
  background-color: green;
  border: 1px solid green;
}
.Login .Login-select .ant-form-item input::webkit-input-placeholder {
  color: bisque;
}
